<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="https://www.springframework.org/schema/beans/"
       xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="https://www.springframework.org/schema/aop"
       xsi:schemaLocation="https://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		https://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        https://www.w3.org/2001/XMLSchema-instance">

    <aop:aspectj-autoproxy />
    <bean name="buddyInfo" class="com.group5.AOPDemo.BuddyInfo">
            <property name = "name" value = "Homer"></property>
            <property name = "address" value = "Carleton"></property>
            <property name = "phone_num" value = "111-111-1111"></property>
    </bean>
    <bean name="buddyInfoService" class="com.group5.AOPDemo.BuddyInfoService">
        <property name="buddy" ref="buddyInfo"></property>
    </bean>

    <bean name="buddyAspect" class="com.group5.AOPDemo.BuddyAspect" />
    <bean name="buddyAspectPointcut" class="com.group5.AOPDemo.BuddyInfoAspectPointcut" />
    <bean name="buddyAspectJoinPoint" class="com.group5.AOPDemo.BuddyInfoAspectJoinPoint" />
    <bean name="buddyAfterAspect" class="com.group5.AOPDemo.BuddyAfterAspect"/>
    <bean name="buddyAroundAspect" class="com.group5.AOPDemo.BuddyAroundAspect" />
</beans>
